.carousel {
    margin-top: 5vh;
    margin-bottom: 20px;
    width: 80%;
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left {
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}

.carouselInner .center {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align-last: center;
}

.center > h1 {
    font-size: 5rem;
}

.center > p {
    font-size: 2rem;
}

.center > h1, p {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 9px;
    pointer-events: none
}

.carouselInner .right {
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}
