.contactus {
  padding: 96px 4vw 24px;
  display: grid;
  place-items: center;
  min-height: 53.86vh;
}

.cuform {
  display: grid;
  background-color: white;
  width: min(640px, 92vw);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cuform > h1 {
  font-family: "Playfair Display", serif;
  margin: 0%;
  margin-top: 10px;
}

.sendemail {
  display: none;
}
