.de {
    min-height: 53vh;
    display: flex;
    padding-top: 2.2cm;
    padding-bottom: 0.5cm;
    justify-content: space-evenly;
}

.de1 {
    border-radius: 5px;
    background-color: lightgray;
    width: 30vw;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.de2 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: lightgray;
    width: 60vw;
    height: min-content;
}