.footer {
  height: fit-content;
  background-color: maroon;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 6vw;
  padding-bottom: 20px;
}

.ft1 {
  display: grid;
  width: auto;
  flex: 1 1 160px;
}

.ft2 {
  width: auto;
  flex: 2 1 280px;
  text-align: left;
  color: lightgray;
}

.ft2 > h1 {
  font-family: "Playfair Display", serif;
  margin-bottom: 5px;
  color: white;
  font-size: 30px;
}

.ft3 {
  margin-left: 0;
  width: auto;
  flex: 1 1 220px;
  text-align: left;
}

.ft3 > h1 {
  font-family: "Playfair Display", serif;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
}

.ft4 {
  display: grid;
  margin-left: 0;
  width: auto;
  flex: 1 1 200px;
  text-align: left;
}

.ft4 > h1 {
  font-family: "Playfair Display", serif;
  margin: 0%;
  margin-top: 30px !important;
  height: 30px;
  font-size: 20px;
  color: white;
}

.name {
  margin-top: 6px;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 20px 4vw;
  }
}
