.header {
    max-height: 10vh;
    display: flex;
}

.logo_mainpage {
    width: 100px;
    background-size: contain;
}

.login_signup {
    display: flex;
    width: max-content;
}

.topcorner {
    display: flex;
}

.alertitle {
    padding-left: 5px;
    font-size: 16px;
}