.pnf {
    padding-top: 20vh;
    height: 80vh;
    justify-content: space-between;
    background-color: white;
}

.pnf1 {
    margin-left: -20px;
    color: green;
    font-family: 'Libre Franklin', sans-serif;
    height: 100px !important;
    margin-bottom: -60px;
}

.pnf2 {
    margin-left: 31%;
    height: fit-content;
    width: 70vh;
}

.tv {
    margin-top: 30px;
}