.videos {
  min-height: 100vh;
  width: 100%;
}

.vd {
  padding: 96px 4vw 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.vdrest {
  padding: 24px 4vw 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.vdrest1 {
  padding: 24px 4vw 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-bottom: 30px;
}
