.App {
  text-align: center;
  background-color: whitesmoke;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: green; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgreen; 
}

.pc_view {
  display: block;
}

.mobile_view {
  display: none;
  height: 100vh;
}

@media screen and (max-width: 19cm) {
  .pc_view {
    display: none;
  }

  .mobile_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}